body,html {
    background-image: url('/public/assets/img/nyc_skyline.jpg');
    background-color: black;
    background-attachment: fixed;
    padding-top: 50px;
    height: 100%;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.text-white {
    color: #fff;
}


.jumbotron {

    background-color:transparent !important; 
}


.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}
